html {
  background-color: #808080;
  font-family: sans-serif;

}
.list{
  background-color: #c0c0c0;
  font-family: fantasy;
  box-shadow: 3px 3px 10px #666666;
}
.heading{
  background-color: #c0c0c0;
  box-shadow: 3px 3px 10px #666666;
  color:white;
}
.membership{
  background-color: #c0c0c0;
  box-shadow: 3px 3px 10px #666666;
}
.pro_membership{
  background-color: #c0c0c0;
  box-shadow: 3px 3px 10px #666666;
}
.analytics{
  background-color: #c0c0c0;
  box-shadow: 3px 3px 10px #666666;
}
.marketing{
  background-color: #c0c0c0;
  box-shadow: 3px 3px 10px #666666;
}
.development{
  background-color: #c0c0c0;
  box-shadow: 3px 3px 10px #666666;
}
.support{
  background-color: #c0c0c0;
  box-shadow: 3px 3px 10px #666666;
}
.showcase2{
  background-color: #c0c0c0;
  box-shadow: 3px 3px 10px #666666;
}
.showcase3{
  background-color: #c0c0c0;

}
footer{
  background-color:black;
  text-align:center;
  color:white;
}
