.list{
  box-shadow: 20px 10px 5px #666666;
}
.heading{
  box-shadow: 20px 10px 5px #666666;
}
.membership{
  box-shadow: 20px 10px 5px #666666;
}
.pro_membership{
  box-shadow: 20px 10px 5px #666666;
}
.boxes{
  box-shadow: 20px 10px 5px #666666;
}
.marketing{
  box-shadow: 20px 10px 5px #666666;
}
.development{
  box-shadow: 20px 10px 5px #666666;
}
.support{
  box-shadow: 20px 10px 5px #666666;
}
.showcase2{
  box-shadow: 20px 10px 5px #666666;
}
.showcase3{

}
footer{

}
