.wrapper{
  width:1000px;
  align-content: center;
}

h1 {
  border:3px solid #696969;
}

header{
  margin:auto;
  padding:10px;
  background-color: #C0C0C0;
}

.nav1{
  width: 200px;
  float:right; /*LABEL 설정하거나, CHILD설정*/
}

.nav2{
  width: 200px;
  float:right;
}



.main{
  width:600px;
  float:left;
}
