body{
  font-family: Courier New;
}

#my-textarea{
  height:120px;
  width:100%;
  color:#8b8687;
  font-family: Courier New;
  font-size:15px;
  line-height:1.5rem;
}

#my-textarea-remaining-chars{
  color:#333333;
  font-size:14px;
  font-weight:bold;
  margin: 5px 3px;
  text-align:right;
}
